@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700');

body {
	font-family: 'PT Sans', sans-serif;
	margin: 0 auto;
	display: block;
	position: relative;
	width: 950px;
	padding: 0 20px 0 20px;
}

h1, h2, h3 {
	margin: .5em 0 .5em 0;
}

form {
	margin: 1em 0 1em 0;
	width: 100%;
}

fieldset {
	padding: 0;
	margin: 0 0 1em 0;
	border: none;
}

fieldset h2, fieldset h3 {
	margin-top: 0;
}

.key_word {
	font-weight: 700;
}

.green {
	color: #006600;
}

label {
	cursor: pointer;
}

select, option, input {
	font-size: inherit;
	font-family: inherit;
	cursor: pointer;
}

select, input {
	border: 1px solid #999999;
	border-radius: 2px;
}

.parameters_group {
	float: left;
	background-color: whitesmoke;
	box-sizing: border-box;
	padding: .7em;
	margin-right: .7em;
	width: 26%;
	border-radius: 2px;
}

.parameters_group:nth-child(3), .parameters_group:nth-child(5) {
	width: 22.2%;
}

.parameters_group:nth-child(3) .parameter label {
	flex-grow: .7;
}

.parameters_group:nth-child(3) .parameter input[type="number"] {
	margin-right: 0;
}

.parameters_group:last-child {
	margin-right: 0;
}

.parameter {
	display: inline-flex;
	align-items: center;
	margin-top: .2em;
	height: 2em;
}

.parameter input[type="radio"] {
	flex-basis: 10%;
	margin: 0 .3em 0 0;
}

.parameter label {
	flex-basis: 20%;
}

.parameter input[type="number"] {
	width: 40%;
	flex-grow: 2;
	margin-right: .3em;
	text-align: center;
}

select {
	box-sizing: border-box;
	flex-basis: 25%;
}

.wrong_number_format {
	background-color: #FF6666;
}

input[type="button"], input[type="reset"] {
	width: 15%;
	height: 1.7em;
	display: block;
	position: relative;
	float: right;
	border: none;
	font-weight: 700;
}

input[name="reset_button"] {
	background-color: #FFCC33;
	color: #333333;
	margin-right: .7em;
}

input[name="calculate_button"] {
	background-color: #66CC66;
	color: #006600;
}
